# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore environment variables and configuration files
.env
*.env

# Ignore data files
data/
*.csv

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled files
*.so
*.dll
*.exe
*.o
*.out

# Ignore IDE-specific files
.vscode/
.idea/
